*{
    margin:0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

body{
    background: black;
   
}

.menu-section {
    position: relative;
    height: 700px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white; 
}

.gallery-section {
    height: 900px; 
}



.background_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("windmil_background.png");
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    
    filter: blur(10px);

 

}

.background_img::before{
    content: "";
    position:absolute;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}



h1 {
    color: #ffffff;
    text-align: center;
    font-family: "poppins","sans-serif";
    font-size: 78px;
    text-shadow: 2px 2px rgb(69, 75, 96);
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 40px;
    z-index: 2;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-family: "poppins","sans-serif";
    font-size: 55px;
    text-shadow: 2px 2px rgb(69, 75, 96);
    position: absolute;
    z-index: 2;
    margin: 250px;
    left: 410px;
}





.Gallery_Wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 400px auto;
}





.Gallery{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.Gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto ; 
    grid-gap:20px;
    padding: 10px;
    flex:none;


}

.Gallery div img{
    width: 250px;
    height: 250px;

}



.Gallery::-webkit-scrollbar{
    display: none;
}



#FrwdBtn , #BackBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}